{% extends 'home.html' %}
{% load static %}
   {%block content%}
   <div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(/project/media/{{book.image}})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>{{book.name}}</h2>
                    <p>{{book.description}}.</p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                <div class="product_price">{{book.price}}đ</div>
                
                <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    
                    {% if b %}
                        <a href="{% url 'updateItemCart' user.id book.id%}" class="btn btn-danger w-100">Add To Cart</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-danger w-100">Add To Cart</a>
                    {% endif %}
                    
                     <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div> 
                </div>
            </div>
        </div>
    </div>

    </div>

{% comment %} TAB {% endcomment %}
    <div class="tabs_section_container">

		<div class="container">
			<div class="row">
				<div class="col">
					<div class="tabs_container">
						<ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
							<li class="tab" data-active-tab="tab_3"><span>Reviews ({{count}})</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">


					<div id="tab_3" class="tab_container active">
						<div class="row">

							<!-- User Reviews -->

							<div class="col-lg-6 reviews_col">
								<div class="tab_title reviews_title">
									<h4>Reviews ({{count}})</h4>
								</div>
                                <!-- User Review -->

                                {%for comment in comments %}
                                    <div class="user_review_container d-flex flex-column flex-sm-row">
                                        <div class="user">
                                            <div class="user_pic">
                                                {%if comment.customer.avatar == ''%}
                                                <img src="https://cdn1.iconfinder.com/data/icons/ui-essential-17/32/UI_Essential_Outline_1_essential-app-ui-avatar-profile-user-account-64.png" alt="">
                                                {%else%}
                                                <img src="/project/media/{{comment.customer.avatar}}" alt="">
                                                {%endif%}
                                            </div>
                                            
                                        </div>
                                        <div class="review">
                                            <div class="review_date">15 Dec 2022</div>
                                            {%if user.id == comment.customer.id%}
                                            <div class="user_name">{{comment.customer.name}}     <a href="{%url 'deleteFB' comment.id book.id  %}"><span class="ti-trash"></span><a></div>
                                            {%else%}
                                            <div class="user_name">{{comment.customer.name}}</div>
                                            {%endif%}
                                            <p>{{comment.review}}.</p>
                                        </div>
                                    </div>
            
                                {% endfor %}
								

					
							</div>

							<!-- Add Review -->

							<div class="col-lg-6 add_review_col">

								<div class="add_review">
                                    {%if b%}
									<form id="review_form" method="post" action="{% url 'rendercomment' book.id %}">
                                        {% csrf_token %}
										<div>
											<h1>Add Review :</h1>
										</div>
										<div>
										
											<textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
										</div>
										<div class="text-left text-sm-right">
											<button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
										</div>
									</form>
                                    {%else%}
                                    <form id="review_form" method="" action="{%url 'login'%}">

										<div>
											<h1>Add Review :</h1>
										</div>
										<div>
										
											<textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea>
										</div>
										<div class="text-left text-sm-right">
											<button id="review_submit" class="red_button review_submit_btn trans_300" value="Submit">submit</button>
										</div>
									</form>
                                    {%endif%}
								</div>

							</div>

						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

    

   {%endblock%}